{% extends "base.html" %}

{% block title %}Contact List - Contact List App{% endblock %}
{% block content %}
  <H1>Contact list</H1>
  <OL>
    {% for contact in contacts %}
      <LI>
        <a href='/contact/show/{{contact.id}}'>
          {{contact.name}} {{contact.surname}}
        </a>
        <a href='/contact/delete/{{contact.id}}'>
          <INPUT type='submit' name='delete'value='delete'/>
        </a>
        <a href='/contact/modify/{{contact.id}}'>
          <INPUT type='submit' name='edit' value='edit'/>
        </a>
      </LI>
    {% endfor %}
  </OL>
  <a href='/contact/add'>
    <INPUT type='submit' name='add' value='Add contact'/>
  </a>
{% endblock %}
