{% extends "base.html" %}

{% block title %}Contact Modify - Contact List App{% endblock %}
{% block content %}
  <h1>Contact modify:</h1>
  <form method='post'>
    <p>Name: <input type='text' name='name' value='{{contact.name}}'/></p>
    <p>Surname: <input type='text' name='surname' value='{{contact.surname}}' /></p>
    <p>Description: <textarea name='description'>{{contact.description}} </textarea></p>
    <p><input type='submit' name= 'modify'/></P>
    {% csrf_token %}
  </form>
  <table>
    <tr>
      <th>Address:</th>
    </tr>
    <tr>
      <td>
      <ol>
        {% for address in addresses %}
        <form method="post">
        <li>{{address.city}} {{address.street}} {{address.number_of_house}}
            <input type='submit' name='delete_address' value='delete'/>
            <input type='text' name='address_id' value='{{address.id}}' hidden='True'/>
            {% csrf_token %}
        </li>
        </form>
        {% endfor %}
      </ol>
      <a href='/contact/{{contact.id}}/addAddress'><button>Add address</button></a>
    </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Phone number:</th>
    </tr>
    <tr>
      <td>
      <ol>
        {% for phone in phones %}
        <form method="post">
          <li>{{phone.number}} {{phone.type_of_phone}}
            <input type='submit' name='delete_phone' value='delete'/>
            <input type='text' name='phone_id' value='{{phone.id}}' hidden='True'/>
            {% csrf_token %}
        </li>
      </form>
        {% endfor %}
      </ol>
    <a href='/contact/{{contact.id}}/addPhone'><button>Add phone number</button></a>
    </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Email:</th>
    </tr>
    <tr>
      <td>
      <ol>
        {% for email in emails %}
        <form method="post">
        <li>{{email.email}} {{email.type_of_email}}
          <input type='submit' name='delete_email' value='delete'/>
          <input type='text' name='email_id' value='{{email.id}}' hidden='True'/>
          {% csrf_token %}
        </li>
      </form>
        {% endfor %}
      </ol>
    <a href='/contact/{{contact.id}}/addEmail'><button>Add email</button></a>
    </td>
    </tr>
  </table>
<table>
  <tr>
    <th>Groups:</th>
  </tr>
  <tr>
    <td>
      <form method="post">
        <select name="groups" multiple>
          {% for group in groups %}
          <option value="{{group.id}}">{{group.name}}</option>
          {% endfor %}
        </select>
        <input type="submit" name="add_group" value="add_group">
        {% csrf_token %}
      </form>
  </td>
</tr>
</table>
</br></br>
  <a href='/contact/show/{{contact.id}}'><button>Ok</button></a>
  <a href='/contact/list'><button>Cancel</button></a>
{% endblock %}
