{% extends "base.html" %}

{% block title %}Contact List - Contact List App{% endblock %}
{% block content %}
<ul class="nav navbar-nav">
   <li><a href='/contact/add'>Add contact</a></li>
   <li><a href='/groups/list'>Groups</a></li>
</ul>
</div>
<div class="container">
  <h1>Contact list</h1>
  <div class="row">
    <div class="col-md-12">
      <ol class="list-group">
        {% for contact in contacts %}
        <li class="list-group-item">
          <a href='/contact/show/{{contact.id}}'>
            {{contact.name}} {{contact.surname}}
          </a>
          <a href='/contact/delete/{{contact.id}}'>
            <button class="btn btn-default pull-right">delete</button>
          </a>
          <a href='/contact/modify/{{contact.id}}'>
            <button class="btn btn-default pull-right">edit</button>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
