{% extends "base.html" %}

{% block title %}Contact List - Contact List App{% endblock %}
{% block content %}
  <h1>Contact list</h1>
  <ol>
    {% for contact in contacts %}
      <li>
        <a href='/contact/show/{{contact.id}}'>
          {{contact.name}} {{contact.surname}}
        </a>
        <a href='/contact/delete/{{contact.id}}'>
          <button>delete</button>
        </a>
        <a href='/contact/modify/{{contact.id}}'>
          <button>edit</button>
        </a>
      </li>
    {% endfor %}
  </ol>
  <a href='/contact/add'>
    <button>Add contact</button>
  </a></br></br>
  <a href='/groups/list'>
    <button>Groups</button>
  </a>
{% endblock %}
